.outputContainer {
    margin: 1em auto;
}

.outputContainer img {
    max-height: 3em;
    max-width: 3em;
    margin: 0 .7em 1em 0;
    display: inline-block;
}

.outputContainer h4 {
    display: inline-block;
    margin: 0 0 .5em 0;
}

.outputContainer a {
    display: block;
    margin: 0 0 0 .5em;
}